@import '../../assets/scss/mobile';

.home{
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 1rem;
        @include mediaSm{
            justify-content: center;
        }
        h1{
            margin: 0;
            font-size: 4.2em;
            text-shadow: 1px 1px 6px;
        }
        p{
            color: #333;
            font-weight: 600;
            letter-spacing: 1px;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
        }
        @media only screen and (max-width: 670px){
            h1{
                font-size: 3em;
            }
            img{
                height: 90px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}
footer{
    width: 100%;
    text-align: center;
    small{
        color: gray;
        font-weight: 600;
        letter-spacing: 0.8px;
    }
}